---
layout: default
title: Home
---

<div class="posts">
    {% for post in paginator.posts %}
    <div class="post sheet">
        <div class="post-header">
            <h1 class="post-title">
                <a href="{{ post.url }}">
                    {{ post.title }}
                </a>
            </h1>

            <span class="post-date">{{ post.date | date_to_string }}</span>
        </div>
        <div class="post-content">
            <p class="post-excerpt">
                {{ post.excerpt }}
            </p>
        </div>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Older</a>
    {% endif %}

    
    
    {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
    <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    {% else %}
    <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    {% endif %}
    {% endif %}
</div>
