<div class="sidebar">
    <div class="sidebar-content">

        {% capture home_url %}{{ site.baseurl | append: '/' }}{% endcapture %}
        <div class="sidebar-about">
            <h1>
                <a href="{{ home_url }}">
                    {{ site.title }}
                </a>
            </h1>
            <p class="lead">{{ site.description }}</p>
        </div>

        <nav class="sidebar-nav">
            {% include menu.html menu=site.data.menu %}
        </nav>

        <p class="copyright">&copy; 2012&ndash;{{ site.time | date: '%Y' }}. All rights reserved.</p>
    </div>
</div>
